{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>AHMAD YAKUBU AHMAD</title>
    <link rel="stylesheet" href="{% static '/css_files/main.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
</head>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img src="{% static 'images/passport.JPG' %}" id="profile-pic"> 
                    <br>
                    <h4>Lorem, ipsum.</h4>
                    <p>Lorem ipsum,cupiditate fugiat alias ratione perspiciatienim impedit facilis nobis totam placeat consequuntur at a et ducimus vero!</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur eius voluptatum eaque, dolore eligendi nihil sint minus obcaecati aperiam assumenda! Beatae saepe officia veniam delectus, voluptatum reiciendis quia molestias odit. Soluta odio vero nemo quod. Blanditiis ratione architecto velit alias odio obcaecati quibusdam fuga? Voluptas error sed, natus totam temporibus expedita porro, hic aliquid consequatur et tempora provident possimus sapiente sit voluptatum aperiam voluptatibus ea ipsum. Perferendis doloremque sit quis quas assumenda. Molestiae minus reprehenderit sapiente maxime!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis adipisci vitae, a laudantium nesciunt eligendi praesentium, velit totam nostrum earum exercitationem repellat tempora? Error itaque sunt voluptatibus animi, in amet ipsa, dolore magni eum ut perspiciatis minus sint. Quo.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore fuga id voluptatem iste eligendi quidem facilis perferendis non, error, eveniet, iure vel officiis consequuntur itaque quis ab culpa.</p>
                    <ul class="social-links">
                        <li><img class="social" src="{% static 'images/git.png' %}"></li>
                        <li><img class="social" src="{% static 'images/twitter.png' %}"></li>
                        <li><img class="social" src="{% static 'images/instagram-new.png' %}"></li>
                        <li><img class="social" src="{% static 'images/github.png' %}"></li>
                        <li><img class="social" src="{% static 'images/facebook-new.png' %}"></li>
                        <li><img class="social" src="{% static 'images/whatsapp--v3.png' %}"></li>
                        <li><img class="social" src="{% static 'images/linkedin-2.png' %}"></li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
                    <hr>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sunt unde illo aliquam sit distinctio, deserunt aperiam at ex quisquam? Velit quidem dolore illum qui quam inventore tempore nesciunt nihil unde, praesentium ad autem aperiam omnis blanditiis? Doloribus, nesciunt.</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem provident rem aliquid odio repellat, sit aperiam veniam neque? Exercitationem, animi optio.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo sequi aperiam fugit nobis voluptatibus error possimus quod delectus cupiditate consectetur quam atque, inventore non rerum dolores quis earum harum labore tenetur voluptatem adipisci? Quibusdam nam aperiam ducimus molestiae ea. Molestias.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quidem animi vero, est, qui hic aspernatur repellat inventore pariatur natus voluptas nulla assumenda.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo sequi aperiam fugit nobis voluptatibus error possimus quod delectus cupiditate consectetur quam atque, inventore non rerum dolores quis earum harum labore tenetur voluptatem adipisci? Quibusdam nam aperiam ducimus molestiae ea. Molestias.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quidem animi vero, est, qui hic aspernatur repellat inventore pariatur natus voluptas nulla assumenda.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h4>Lorem ipsum dolor sit amet consectetur.</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo sequi aperiam fugit nobis voluptatibus error possimus quod delectus cupiditate consectetur quam atque, inventore non rerum dolores quis earum harum labore tenetur voluptatem adipisci? Quibusdam nam aperiam ducimus molestiae ea. Molestias.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque quidem animi vero, est, qui hic aspernatur repellat inventore pariatur natus voluptas nulla assumenda.</p>
                </div>
            </div>
        </div>
        <br> 
    </div>
</body>
</html>